*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
background-color: #001;
display: grid;
grid-template-columns:1fr 5fr;
height: 100vh;
}
section{
    position: relative;
    padding: 10px;
    width: 230px;
    height: 100%;
    background-color: #002;
    
}
img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #fff;
}
ul{
    list-style: none;
}
ul li a{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
    text-decoration: none;
    margin-bottom: 5px;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px ;
    width: 200px;
    color: white;
}
ul li a:hover{
    background-color: #99999929;
}
a i{
    font-size: 20px;
}
ul li:last-child{
    bottom: 25px;
    position: absolute;
}
ul li:last-child a{
    background-color: red;
}
main{
    padding: 20px 10px;

}
.text{
    width: 100%;
    background-color: #0f0fe2;
    color: white;
    border-radius: 6px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.box{
   display: flex;
   flex-wrap: wrap;
   flex-shrink: 1;
   gap: 10px;
   margin: 10px 0px;
}
.box1,.box2,.box3,.box4{
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    flex-basis: 150px;
    flex-shrink: 1;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}
.box1,.box2,.box3,.box4 span{
    text-align: center;
}
.box1 .fa,.box2 .fa,.box3 .fa,.box4 .fa{
    font-size: 24px;
}

table{
    width: 100%;
    margin-top:10px ;
    text-align: center;
    border-spacing: 8px;
    color: white;

}
thead tr th{
padding: 10px;
border-radius: 10px;
background-color: #0f0fe2;
color: white;
}

tbody tr td{
    background-color: #333;
}
td ,th{
    height: 40px;
    border-radius: 10px;
}
tbody tr td:nth-child(2) span{
    padding: 6px;
    border-radius: 10px;
    background-color: #090;
}
tbody tr td:nth-child(3) span{
    padding: 6px;
    border-radius: 10px;
    color: black;
    background-color: #c9e720;
}





